fastapi==0.115.5
mangum==0.19.0
sqlalchemy==2.0.36
asyncpg==0.30.0
greenlet==3.2.3
pydantic==2.10.3
pydantic-core==2.27.1
pydantic-settings==2.6.1
email-validator==2.2.0
boto3==1.35.80
python-jose[cryptography]==3.3.0
httpx==0.28.1
python-multipart==0.0.19
python-dotenv==1.0.1
